:root {
  --accent: #eceae9;
  --black: #000;
  --white: #fff;
}

body {
  color: var(--black);
  background-color: var(--white);
}

.login h1 a {
  width: 100%;
  max-width: 204px;
  height: 48px;
  background-image: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 205 48'%3E%3Cpath d='M10.888 20.634c-1.224 1.203-2.691 1.805-4.402 1.805-1.733 0-3.206-.602-4.419-1.805C.855 19.42.248 17.95.248 16.227H3.01c0 .965.335 1.784 1.007 2.456.693.672 1.516 1.008 2.47 1.008.941 0 1.754-.342 2.436-1.024.682-.683 1.023-1.496 1.023-2.44V0h2.778v16.227c0 1.714-.612 3.182-1.836 4.407ZM27.405 2.878 22.89 15.252h9.016l-4.5-12.374Zm7.018 19.317-1.527-4.163H21.898l-1.527 4.163h-2.94L25.505 0h3.818l8.073 22.195h-2.972Zm22.933 0L46.26 5.106v17.089H43.5V0h2.762l11.095 17.09V0h2.777v22.195h-2.777Zm12.974 0V0h13.856v2.764H73.093v6.667h8.317v2.78h-8.317v7.203h11.094v2.78H70.33ZM98.026 2.764v19.43h-2.778V2.765h-6.92V0h16.634v2.764h-6.936Zm22.672 0v19.43h-2.778V2.765H111V0h16.634v2.764h-6.936Zm11.727 19.431V0h13.856v2.764h-11.094v6.667h8.317v2.78h-8.317v7.203h11.094v2.78h-13.856Z' fill='%23000'/%3E%3Cpath d='M20.178 47.773V33.311l-6.317 14.462h-2.84L4.702 33.311v14.462H2.134V27.124h2.675l7.631 17.427 7.648-17.427h2.675v20.65h-2.585ZM37.72 29.802l-4.2 11.512h8.387L37.72 29.802Zm6.53 17.971L42.83 43.9H32.596l-1.42 3.873H28.44l7.511-20.649h3.552l7.511 20.65h-2.766Zm9.683 0V27.124h2.569v18.062h10.321v2.587h-12.89Zm19.808 0V27.124h2.569v18.062h10.322v2.587H73.74Zm30.984-10.332c0-2.178-.786-4.054-2.357-5.627-1.572-1.583-3.451-2.375-5.637-2.375-2.186 0-4.065.791-5.637 2.375-1.572 1.573-2.357 3.45-2.357 5.627 0 2.189.785 4.07 2.357 5.642 1.572 1.574 3.45 2.36 5.637 2.36 2.186 0 4.065-.786 5.637-2.36 1.571-1.572 2.357-3.453 2.357-5.642Zm2.584 0c0 2.905-1.042 5.39-3.128 7.458-2.065 2.068-4.549 3.101-7.45 3.101-2.902 0-5.39-1.033-7.466-3.1-2.075-2.078-3.113-4.564-3.113-7.459 0-2.884 1.038-5.365 3.113-7.442 2.086-2.088 4.574-3.132 7.466-3.132 2.891 0 5.375 1.044 7.45 3.132 2.086 2.077 3.128 4.558 3.128 7.442Zm19.283-4.508c0-.877-.317-1.634-.952-2.269-.634-.645-1.39-.968-2.267-.968h-8.387v6.46h8.387c.877 0 1.633-.318 2.267-.953.635-.636.952-1.392.952-2.27Zm-.408 14.84L121 38.743h-6.015v9.03h-2.569V27.124h10.957c1.581 0 2.942.575 4.08 1.725 1.149 1.14 1.723 2.502 1.723 4.085 0 1.482-.504 2.778-1.511 3.887-1.018 1.11-2.257 1.74-3.718 1.891l5.229 9.062h-2.992Zm13.798-9.939v9.94h-2.585v-9.94l-6.937-10.71h3.038l5.168 7.942 5.185-7.942h3.067l-6.936 10.71Z' fill='%23666'/%3E%3Cpath d='M148.347 47.773v-6.56h.452v6.56h-.452Zm8.641 0-3.904-5.302a3.299 3.299 0 0 1-.21-.32l-.059-.092h-.019c.007.08.01.175.01.288v5.426h-.453v-6.56h.348l3.876 5.256c.085.116.178.256.278.421h.023a8.03 8.03 0 0 1-.023-.548v-5.129h.453v6.56h-.32Zm5.651-6.144v6.144h-.448V41.63h-1.892v-.416h4.232v.416h-1.892Zm4.88 6.144v-6.56h3.062v.416h-2.61v2.63h2.422v.412h-2.422v2.69h2.761v.412h-3.213Zm7.004-6.144v2.809h1.129c.5 0 .896-.132 1.191-.394.293-.262.44-.622.44-1.08 0-.417-.132-.744-.397-.98-.265-.237-.644-.355-1.138-.355h-1.225Zm2.903 6.144-.874-1.921c-.179-.397-.359-.663-.539-.799a1.091 1.091 0 0 0-.676-.203h-.814v2.923h-.452v-6.56h1.819c.578 0 1.034.156 1.365.469.33.313.494.725.494 1.237 0 .473-.135.868-.406 1.185-.271.318-.651.522-1.138.613v.019c.258.104.511.42.758.947l.974 2.09h-.511Zm3.713 0v-6.56h.453v6.56h-.453Zm6.749-6.258c-.762 0-1.388.276-1.881.828-.491.552-.738 1.275-.738 2.168 0 .903.233 1.622.7 2.157.466.535 1.087.803 1.865.803.81 0 1.451-.264 1.923-.793.473-.53.708-1.267.708-2.212 0-.927-.231-1.65-.692-2.17-.461-.521-1.089-.781-1.885-.781Zm-.046 6.373c-.926 0-1.664-.309-2.214-.925-.551-.616-.825-1.416-.825-2.402 0-1.045.283-1.883.848-2.514.565-.63 1.337-.944 2.314-.944.884 0 1.6.303 2.146.908.547.606.821 1.4.821 2.381 0 1.086-.281 1.94-.841 2.562-.561.622-1.31.934-2.249.934Zm6.753-6.259v2.809h1.129c.5 0 .897-.132 1.191-.394.294-.262.441-.622.441-1.08 0-.417-.133-.744-.398-.98-.264-.237-.645-.355-1.138-.355h-1.225Zm2.903 6.144-.873-1.921c-.18-.397-.36-.663-.541-.799-.178-.135-.405-.203-.675-.203h-.814v2.923h-.452v-6.56h1.819c.578 0 1.034.156 1.365.469.33.313.495.725.495 1.237 0 .473-.136.868-.408 1.185-.27.318-.65.522-1.137.613v.019c.259.104.512.42.759.947l.973 2.09h-.511Zm3.508-.233v-.517c.469.299.945.448 1.426.448.511 0 .9-.106 1.166-.318.264-.212.397-.508.397-.89 0-.335-.089-.603-.268-.803-.178-.2-.564-.471-1.158-.816-.664-.388-1.084-.712-1.261-.972a1.574 1.574 0 0 1-.266-.904c0-.464.181-.857.541-1.18.359-.324.839-.486 1.439-.486.39 0 .78.066 1.17.197v.476a2.942 2.942 0 0 0-1.23-.26c-.444 0-.797.112-1.057.338a1.085 1.085 0 0 0-.391.86c0 .335.089.602.267.8.178.199.563.469 1.155.81.612.347 1.019.657 1.222.926.203.27.304.58.304.931 0 .504-.174.913-.523 1.23-.349.318-.842.476-1.479.476-.225 0-.485-.035-.779-.105-.295-.069-.52-.15-.675-.241Z' fill='%23000'/%3E%3C/svg%3E%0A");
  background-size: 100%;
}

.login form {
  background-color: var(--black);
}

.login label {
  color: var(--white);
}

.login #nav a,
.login #backtoblog a,
.privacy-policy-link {
  font-size: 14px;
  color: var(--black);
}

.login #nav a:hover,
.login #backtoblog a:hover,
.privacy-policy-link:hover {
  color: var(--black);
}

.wp-core-ui .button-primary {
  color: var(--black);
  text-shadow: none;
  background-color: var(--accent);
  border: 0;
  border-radius: 0;
  box-shadow: none;
}

.wp-core-ui .button-primary:hover {
  color: var(--black);
  background-color: var(--accent);
}

.message {
  color: var(--black);
}

.privacy-policy-link {
  text-decoration: none;
}
