@font-face {
  font-family: "laluxesscript";
  src: url("~@fonts/laluxesscript.woff2") format("woff2"),
    url("~@fonts/laluxesscript.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "acherus-grotesque-regular";
  src: url("~@fonts/acherus-grotesque-regular.woff2") format("woff2"),
    url("~@fonts/acherus-grotesque-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
